ion-button {
  --background: transparent;
  --background-hover: #758e4f;
  --border-radius: 30px;
  --border-color: #758e4f;
  --border-style: solid;
  --border-width: 2px;
  --color: #758e4f;

  --padding-start: 30px;
  --padding-end: 30px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}
