.game-container {
  margin: 24px;
}

.game-over {
  color: #b4450a;
}

.proceed-button__container {
  margin-top: 30px;
}

.tictactoe-board {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  width: 192px;
  height: 204px;
}

.tictactoe-select {
  margin: 8px 16px;
}

.tictactoe-select label {
  margin: 10px;
  font-size: 20px;
}

.user-win {
  color: #758e4f;
}
